<!DOCTYPE html>
<html>
<head>
    <title>Magic_mirror</title>
    <meta http-equiv="refresh" content="60">
    <script>
        
    </script>
    <style>
        h1{
            color: aqua;
        }
        
        p{
            color: aqua
        }
    </style>{

</head>
<body style="background-color: black;">

<h1>Days You have been stuck with this Nerd: <br> {{days}}</h1>
<p style="position: absolute; top: -2%;right: 50%; font-size:300%;">{{date_time[3]}}:{{date_time[4]}}</p>
<p>{{quote}}.</p>
<p>{{temp}}</p>
<img src={{w_label}}>

</body>
</html>