<!DOCTYPE html>
<html>
<head>
    <title>Magic_mirror</title>
    <meta http-equiv="refresh" content="60">
    <style>
        h1{
            color: aqua;
        }
        p{
            color: aqua;
            margin: 0;
            position: absolute;
            
        }
    </style>{

</head>
<body style="background-color: black;">

<p style=" left:50%; top:0%; font-size:800%; transform: translate(-50%,0); ">{{date_time[3]}}:{{date_time[4]}}</p>
<p style="left:50%; top:14%; font-size:400%; transform: translate(-50%,0);">{{date_time[2]}}/{{date_time[1]}}/{{date_time[0]}}</p>

<h1 style="position: absolute; top: 0%; left: 0%; margin: 0;">Days You have been stuck with this Nerd: <br> {{days}}</h1>

<p style="right:0; top:0; width: 20%; height: 30%;font-size: 200%;">{{quote[0]}}<br>-{{quote[1]}}.</p>
<p style="top: 80%">{{temp}}</p>
<img src={{w_label}} style="position: absolute; left:10px; top:200px; height: 200px; width: 200px;">

</body>
</html>